html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
    background-color: white;
}

h1{
    font-size: 60px;
    color: #443866;
}

h2{
    font-size: 45px;
    color: #8a4979;
}

h3{
    font-size: 30px;
    color: #c96079;
}

p{
    font-size: 15px;
}

hr{
    height: 1px;
    background-color: #c96079;
    border:none;
}

img{
    object-fit: cover;
    width: 500px;
    height: 500px;
    float: right;
}

a:link{
    color: #443866;
}

a:hover{
    color: #8a4979;
}

a:visited{
    color: #c96079
}